apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  labels:
    app: fluentd
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.pos
      tag kube.*
      read_from_head true
      <parse>
        @type json
        time_key time
        time_type string
        keep_time_key true
      </parse>
    </source>

    # Enrich with Kubernetes metadata (namespace, pod, container, labels)
    <filter kube.**>
      @type kubernetes_metadata
    </filter>

    # Send to Elasticsearch
    <match kube.**>
      @type elasticsearch
      host elasticsearch
      port 9200
      scheme http
      logstash_format true
      logstash_prefix logstash
      include_tag_key true
      type_name _doc
      reconnect_on_error true
      reload_on_failure true
      request_timeout 15s
      <buffer>
        @type file
        path /var/log/fluentd-buffers
        flush_interval 5s
        chunk_limit_size 2m
        queue_limit_length 32
        retry_forever true
      </buffer>
    </match>
